<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ezlink.project.screentest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/logo_sc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_sc"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        android:theme="@style/AppTheme">
        <activity android:name=".View.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".View.Genre"/>
        <activity android:name=".View.Movie"/>
        <activity android:name=".View.MovieDetail"/>
    </application>

</manifest>